##---------------------------------------------------
# Continuous Integration .gitignore files
##---------------------------------------------------

# Ignore test result XML files
testresults.xml
coverage.xml


##---------------------------------------------------
# MATLAB default .gitignore
##---------------------------------------------------

# Editor autosave files
*~
*.asv
# Compiled MEX binaries (all platforms)
*.mex*
